<div class="about">
  <section class="aboutText">
    <h2>We Buy Properties In Any Condition. We Buy “AS IS.”  We Make Cash Offers! </h2>
    <p>
      Sometimes we are in some situations that we don’t want to face.<br>
      They make us feel stressful, anxious, upset…… some of this situation are:
    </p>
    <ul>
      <li>Facing foreclosure.</li>
      <li>Going through divorce.</li>
      <li>Medical bills.</li>
      <li>Job relocation.</li>
      <li>Loss of a family member.</li>
      <li>Unwanted rental property.</li>
      <li>Vacant property.</li>
    </ul>
    <p>Not so stressful but also you may be facing:</p>
    <ul>
      <li>Inherit an Unwanted Property.</li>
      <li>You want to avoid Paying Realtor Commissions.</li>
      <li>You Have Little Or No Equity And Need To Sell</li>
    </ul>
    <p>
      If you are facing one of this stressful situations -
      or others that are not so stressful- and you know you could benefit
      from selling your house or listening to different exit strategies from creative,
      sincere and problem-solvers investors please contact us.
      We want to provide the right solution for you.
    </p>
    <p>We all deserve to be listened and to get options.</p>
    <p>
      Every situation is different, you may be in a hurry to sell,
      you may or may not have equity on your house,
      you may have a property that you didn’t want,
      or one that needs a lot of work,
      one that is in substandard situation…. Whatever
      your situation is,  we want to provide a cash offer or the option that makes more sense and provides a
      BETTER SOLUTION FOR YOU.
    </p>
    <p>
      Tell us about you, we are here to listen.
    </p>
    <p>
      All of this 100% free to you
      (we don’t charge you any fees).
      100% no hassle. 100% no obligation. No commitment.
    </p>
  </section>
</div>
<div class="aboutSpanish" style="display:none;">
  <section class="aboutText">
    <h2>Compramos propiedades en cualquier condición. Compramos “como está.” Hacemos ofertas en CASH, de contado!!!!</h2>
    <p>
      A veces estamos en situaciones que son complicadas, que no queremos enfrentar.<br>
      Nos producen ansiedad, nos estresan, nos preocupan….. algunas
      situaciones a las que me refiero son:
    </p>
    <ul>
      <li>Estar en Foreclosure.</li>
      <li>Divorcio.</li>
      <li>Facturas médicas.</li>
      <li>Reubicación laboral.</li>
      <li>Pérdida de un ser querido.</li>
      <li>Propiedad de renta indeseada.</li>
      <li>Propiedad vacía.</li>
    </ul>
    <p>Algunas situaciones tal ves no tan estresantes pero que también podemos resolver:</p>
    <ul>
      <li>Propiedad heredada.</li>
      <li>Evitar pagar comisión al agente de bienes raíces.</li>
      <li>Tener poca o nada de plusvalía en la propiedad y necesitar vender.</li>
    </ul>
    <p>
      Si usted está enfrentando una de estás situaciones estresantes -o alguna otra-
      y sabe que al vender su propiedad usted se beneficiará o busca alguna otra
      estategía para salir de su situación, sepa que somos inversionistas creativos,
      sinceros y nos orientamos a resolver problemas, por favor contáctenos.
      Queremos ofrecerle la opción adecuada para usted.
    </p>
    <p>Todos merecemos ser escuchados y recibir opciones.</p>
    <p>
      Cada situación es diferente, tal vez tu urgencia es vender, o no tienes plusvalía
      en tu casa, tal vez tienes una propiedad que no querías, que necesita
      mantenimiento, reparaciones, que está abandonada o vandalizada…… Sea
      cual sea tu situación queremos ofrecerte cash por tu casa o la opción que
      mejor solucione tu problema.
    </p>
    <p>
      Cuéntanos de ti, estamos aquí para escucharte.
    </p>
    <p>
      Todo nuestro servicio es 100% GRATIS para ti, no cobramos ninguna comisión.
      100% fácil, 100% sin obligaciones de tu parte. Sin ningún compromiso.
    </p>
  </section>
</div>
