<div class="howItWorks">
  <h1>How It Works</h1>
  <section class="container">
    <article>
      <img src="images/house_data.jpg" alt="" class="howItWorksImages">
      <h3 id="information">Enter your property information.</h3>
      <p>
        Please fill out the form above, enter your information, and you’ll be on your way to
        quick cash. No need to make repairs! Of course, you can call us, too. We’re ready to help.
      </p>
    </article>
    <article>
      <img src="images/house_phone.jpg" alt="" class="howItWorksImages">
      <h3>Schedule a time to meet.</h3>
      <p>
        After receiving your info, we will contact you to set up a time to view your house.
        <b>Due to Covid-19 if you prefer to have the meeting virtually we can do it that
        way too, you will receive an offer without us putting a step on your house.</b>
        With www.letsbuyyourhousenow.com, we do all the work - there’s no need to fill
        out long forms or upload photos.
      </p>
    </article>
    <article>
      <img src="images/house_offer.jpg" alt="" class="howItWorksImages">
      <h3>Get a no-obligation cash offer.</h3>
      <p>
        Once we’ve listened to you and seen your house, we’ll be ready to make you a real
        and just cash offer. We offer the most cash we can, and there’s no obligation on
        your part!
      </p>
    </article>
    <article>
      <img src="images/house_deal.jpg" alt="" class="howItWorksImages">
      <h3>Accept, and we’ll buy your house quickly.</h3>
      <p>
        Like our offer? Great! We can close as fast as you need it. What about next week?
        There are no commissions, no closing costs, and no hassle.
      </p>
    </article>
  </section>
</div>
<div class="howItWorksSpanish" style="display:none;">
  <h1>¿Cómo funciona?</h1>
  <section class="container">
    <article>
      <img src="images/keyboard.jpeg" alt="" class="howItWorksImages">
      <h3>Escribe la información de tú propiedad.</h3>
      <p>
        Por favor llena la forma que se encuentra al inicio de la página. Estás en camino
        de recibir la mejor oferta y de forma rápida. ¡Sin necesidad de hacer reparaciones!
      </p>
    </article>
    <article>
      <img src="images/phone.jpg" alt="" class="howItWorksImages">
      <h3>Agenda una cita para conocernos.</h3>
      <p>
        Una vez recibida tu información te contactaremos para agendar una visita a tu
        propiedad. Por cuestiones del COVID-19 si así lo prefieres Podemos agendar una
        cita virtual, recibirás una oferta sin meternos a tu casa. Con
        www.letsbuyyourhousenow.com, nosotros hacemos el trabajo – no hay necesidad
        que llenes largos formularios o nos mandes fotos.
      </p>
    </article>
    <article>
      <img src="images/offer.jpg" alt="" class="howItWorksImages">
      <h3>Recibe una oferta libre de compromiso para ti.</h3>
      <p>
        Una vez que te hayamos escuchado y visto tu casa estaremos listos para hacerte
        una oferta verdadera y justa. ¡Te ofreceremos la mayor cantidad de dinero que
        podamos y no hay ninguna obligación de tu parte!
      </p>
    </article>
    <article>
      <img src="images/handshake.jpg" alt="" class="howItWorksImages">
      <h3>Si aceptas compraremos tú casa rápidamente.</h3>
      <p>
        Te gustó la oferta? Genial! Podemos cerrar la compra-venta tan rápido como sea
        necesario y sea conveniente para ti. Qué tal la próxima semana? Sin comisiones,
        sin costos de cierre y sin problemas.
      </p>
    </article>
  </section>
</div>