<div class="home">
  <h1 class="title">CreateForAllInvestments.com <span class="spanischText" onclick="changeLanguage(this)">Español</span></h1>
  <div class="clientForm">
    <h1>Fill Out The Form Below And<br>
        We’ll Chat With You Within 24 Hours</h1>
    <%= render template: 'clients/new' %>
  </div>
  <div id="clientResponse">
    <h1>Thank you for your submit<br> We will contact you soon.</h1>
  </div>
</div>
<%= render partial: 'how' %>
<%= render partial: 'about' %>
<%= render partial: 'info' %>
<script type="text/javascript">
  var isAndroid = navigator.userAgent.toLowerCase().indexOf("android") > -1; //&& ua.indexOf("mobile");
  if(isAndroid) {
      document.write('<meta name="viewport" content="width=device-width,height='+window.innerHeight+', initial-scale=1.0">');
  }
</script>

