<div class="home">
  <h1 class="title">LetsBuyYourHouseNow.com</h1>
  <div class="clientForm">
    <h1>GET YOUR OFFER TODAY</h1>
    <%= render template: 'clients/new' %>
  </div>
  <div id="clientResponse">
    <h1>Thank you for your submit<br> We will contact you soon.</h1>
  </div>
</div>
<div class="howItWorks">
  <h1>How It Works</h1>
  <div class="container">
    <div>
      <h3>Enter Your Information</h3>
      <img src="images/keyboard.jpeg" alt="" class="howItWorksImages">
      <p>
        blal sldfsdf lskdfj sdkfj sdflkj<br>
        jlsdlkf df sdflk
      </p>
    </div>
    <div>
      <h3>We Contact You</h3>
      <img src="images/phone.jpg" alt="" class="howItWorksImages">
      <p>
        blal sldfsdf lskdfj sdkfj sdflkj<br>
        jlsdlkf df sdflk
      </p>
    </div>
    <div>
      <h3>Get A Non Obligation Offer</h3>
      <img src="images/offer.jpg" alt="" class="howItWorksImages">
      <p>
        blal sldfsdf lskdfj sdkfj sdflkj<br>
        jlsdlkf df sdflk
      </p>
    </div>
    <div>
      <h3>Make A Deal</h3>
      <img src="images/handshake.jpg" alt="" class="howItWorksImages">
      <p>
        blal sldfsdf lskdfj sdkfj sdflkj<br>
        jlsdlkf df sdflk
      </p>
    </div>
  </div>
</div>
<div class="homeInfo">
  <div class="wrapper">
    <div>
      <h3>LetsBuyYourHouseNow.now</h3>
      <p>Copyright 2020</p>
      <p>All Rights Reserved</p>
    </div>
    <div>
      <p>How It Works</p>
      <p>FAQ</p>
      <p>Company Info</p>
    </div>
  </div>
</div>


