<div>
  <h1 class="title">Let's Buy Your House Now</h1>
  <div class="clientForm"><%= render template: 'clients/new' %></div>
  <div class="errorDiv"></div>
  <div id="clientResponse">
    <p>Thank you for your submit, we will contact you soon.</p>
  </div>
</div>


