<tr>
  <td><%= @resource.name %>:</td>
  <td><%= link_to @resource.url, @resource.url, target: '_blank' %> </td>
  <td>
    <%= link_to({}, class: 'linksDesign', onclick: "deleteResource(event, #{@resource.id}, this)") do %>
      <i class="far fa-trash-alt fa-xs" style="margin-top=1px;"></i>
    <% end %>
  </td>
</tr>