<h1><%= @client.first_name %> <%= @client.last_name%></h1>
<br>
<p>Thank you for filling out the form.</p>
<p>We will contact you as soon as possible.</p>
<br>
<p>Have a nice day!</p>
<br>
<p><a href="https://createforallinvestments.com">www.createforallinvestments.com</a></p>
