// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  margin: auto;
  text-align: center;
}

.clientForm {
  text-align: center;
}

#clientResponse {
  display: none;
  text-align: center;
}

.errorDiv {
  display: none;
  text-align: center;
}