// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home {
  background: url(/images/houses.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.title {
  color: white;
  padding: 3px;
  margin: auto;
  text-align: center;
}

.clientForm {
  padding-top: 30px;
  text-align: center;
  width: 40%;
  margin: auto;
}

.clientForm > h1 {
  padding: 7px;
  margin-bottom: -1px;
  background-color: black;
  color: yellow;
}

#client_tel,
#client_email,
#client_address,
#client_city,
#client_state,
#client_zip {
  height: 2em;
  margin: 10px 0;
}

#client_first_name,
#client_last_name {
  margin: 30px 0 10px 0;
  height: 2em;
}

#client_address {
  width: 260px;
}

#client_city {
  width: 100px;
}

#client_state {
  width: 90px;
}

#client_zip {
  width: 55px;
}

#clientSubmit {
  width: 10em;
  background-color: yellow;
  border: none;
  color: black;
  font-size: 15px;
  border-radius: 8px;
  height: 50px;
  margin: 30px 0;
}

#clientSubmit:hover {
  animation-name: background-color-size;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-size {
  100% {
    background-color: yellowgreen;
    transform: scale(1.2);
  }
}

.clientForm > form {
  background-color: rgba(128,128,128,0.6);
}

#clientResponse {
  padding: 10px;
  display: none;
  text-align: center;
  background: linear-gradient(53deg, #a5fdff, #f3ffff);
  color: black;
  width: 40%;
  margin: auto;
}

.howItWorks {
  height: 70vh;
  text-align: center;
}

.howItWorksImages {
  width: 100px;
  height: 100px;
}

.footer {
  text-align: center;
}

.homeInfo {
  padding-top: 60px;
  height: 50vh;
  background-color: rgb(240,240,240);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper>div>p>a {
  color: black;
  text-decoration: none;
}

.wrapper>div>p>a:hover {
  color: green;
}

.about {
  padding-top: 40px;
  background: url(/images/house2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.aboutText {
  padding: 20px;
  color: white;
  width: 70%;
  margin: auto;
  background-color: rgba(128,128,128,0.9);
}

@media only screen and (max-device-width: 480px) {
  .title {
    font-size: 7vw;
  }

  .clientForm {
    width: 95%;
  }

  .container {
    flex-direction: column;
  }

  .container>div {
    width: 95%;
  }

  .howItWorks {
    height: 100%;
  }

  .about {
    height: 100%;
    padding: 10px;
  }

  .aboutText {
    width: 80%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 900px) {
  .home {
    height: 200vh;
  }

  .container {
    flex-direction: column;
  }

  .container>div {
    width: 95%;
  }

  .howItWorks {
    height: 100%;
  }

  .about {
    height: 100%;
    padding: 10px;
  }

  .aboutText {
    width: 80%;
  }

}
