// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home {
  background: url(/images/house_home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 70vh;
  padding: 0 0 40px 0;
}

.title {
  color: white;
  padding: 40px 0 10px 0;
  margin: auto;
  text-align: center;
}

.spanischText {
  float: right;
  font-size: 12px;
  margin: -20px 10px 0 0;
}

.spanischText:hover {
  cursor: pointer;
}

.clientForm {
  padding-top: 30px;
  text-align: center;
  min-width: 40%;
  max-width: 450px;
  margin: auto;
}

.clientForm > h1 {
  padding: 7px;
  margin-bottom: -1px;
  background-color: black;
  color: yellow;
}

#client_tel,
#client_email,
#client_address,
#client_city,
#client_state,
#client_zip {
  height: 2em;
  margin: 10px 0;
}

#client_first_name,
#client_last_name {
  margin: 30px 0 10px 0;
  height: 2em;
}

#client_address {
  width: 260px;
}

#client_city {
  width: 100px;
}

#client_state {
  width: 90px;
}

#client_zip {
  width: 55px;
}

#clientSubmit {
  width: 10em;
  background-color: yellow;
  border: none;
  color: black;
  font-size: 15px;
  border-radius: 8px;
  height: 50px;
  margin: 30px 0;
}

#clientSubmit:hover {
  animation-name: background-color-size;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-size {
  100% {
    background-color: yellowgreen;
    transform: scale(1.2);
  }
}

.clientForm > form {
  background-color: rgba(128,128,128,0.6);
}

#clientResponse {
  display: none;
  padding-top: 30px;
  text-align: center;
  width: 40%;
  margin: auto;
}

#clientResponse > h1 {
  padding: 7px;
  margin-bottom: -1px;
  background-color: black;
  color: yellow;
}

#clientResponseIntern {
  display: none;
  padding: 30px;
  text-align: center;
  width: 40%;
  margin: auto;
  background: linear-gradient(53deg, #a5fdff, #f3ffff);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container>article {
  width: 20%;
  // max-width: 200px;
}

.howItWorks,
.howItWorksSpanish {
  padding: 40px 0;
  text-align: center;
  min-height: 70vh;
}

.howItWorksImages {
  width: 150px;
  height: 100px;
}

.footer {
  text-align: center;
}

.homeInfo {
  padding: 60px 0;
  background-color: rgb(240,240,240);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper>div>p>a {
  color: black;
  text-decoration: none;
}

.wrapper>div>p>a:hover {
  color: green;
}

.about,
.aboutSpanish {
  padding: 40px 0;
  background: url(/images/house_text.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aboutText {
  max-width: 1000px;
  padding: 20px;
  color: white;
  width: 70%;
  margin: auto;
  background-color: rgba(128,128,128,0.9);
}

.signIn {
  text-align: center;
  margin-top:30px;
}

@media only screen and (max-device-width: 900px) {
  .title {
    font-size: 6.5vw;
  }

  .spanischText {
    margin-top: -50px;
  }

  .wrapper {
    flex-direction: column;
  }

  .clientForm {
    width: 95%;
  }

  .container {
    flex-direction: column;
  }

  .container>article {
    width: 95%;
    margin: auto;
  }

  .aboutText {
    width: 80%;
  }

  #clientResponse {
    width: 95%;
  }

  .clientDetailsTable {
    font-size: 50px;
  }

  .signIn {
    font-size: 30px;
  }

  .actions>input {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

