// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#new_resource {
  margin-left: 20px;
}

.resourcesTable {
  margin: 20px;
}

@media only screen and (max-device-width: 800px) {
  .resourcesTable {
    font-size: 40px;
  }

  #new_resource>div>div {
    font-size: 300%;
  }

  #new_resource input {
    font-size: 0.8em;
    border: 1px solid black;
  }

  #new_resource textarea {
    font-size: 0.8em;
    border: 1px solid black;
  }
}
